body {
  background-image: url(../assets/van.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Heebo;
  font-weight: 200;
  max-width: 100vw;
  overflow-y: hidden;
}

#root{
  height: 100%;
  width: 100%;
}

.app {
  height: 100%;
  width: 100%;
}