@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body {
  background-image: url(../assets/vanvanvan.png);
  background-size: 120%;
  background-position: 10 0;
  background-color: #E3EAE7;
  background-repeat: no-repeat;
  font-family: Heebo;
  font-weight: 200;
  color: #282627 !important;
}




