
.main{
    height: 100vh; 
}

.homeCard{
    color: var(--light);
}

.section{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000
}

#signup, #login, #artists{
    background: linear-gradient(225deg, #838c93, #9ca7ae);
    color: var(--dark);
}

#venues {
    background: linear-gradient(225deg, #2e2447, #372b55);
    color: var(--light);
}
