
.main{
    height: 100vh; 
}

.homeCard{
    color: var(--light);
}

.section{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000
}
h5{
    font-family: prompt;
}
#signup{
    background-image: url(../assets/haul.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--dark);
}
#artists {
    background-image: url(../assets/crowd.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--dark);
}

#venues{
    background-image: url(../assets/unload.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--light);
}

.artist-card, .venue-card {
    perspective: 1000px;
}

.card-front,
.card-back {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.card-back {
    transform: rotateY(180deg);
}

.flipped .card-front {
    transform: rotateY(180deg);
}

.flipped .card-back {
    transform: rotateY(0deg);
}